@model IEnumerable<Practico8.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}

<h1>Peliculas</h1>

<p>
    <a asp-action="Create">Agregar pelicula</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Año
            </th>
            <th>
                Calificacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
